.footer_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	margin: 1rem 3rem;
	margin-top: 15rem !important;
	height: auto;
	left: 0;
	bottom: 0;
	width: 90%;
	border-radius: 0.75rem;
	bottom: -500px;
	background: linear-gradient(
		90deg,
		rgba(2, 0, 36, 1) 0%,
		rgb(31, 198, 51) 0%,
		rgb(99, 247, 94) 100%
	);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.socialLink_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
}

.social_link {
	margin-left: 1rem;
}
