.search-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    margin: 1rem;
    margin-bottom: 1.5rem !important;
    margin-right: auto;
    margin-left: auto;
    color: var(--grey);
    background-color: var(--darkgrey);
    padding: 1rem 3rem;
    border-radius: 30px;
    font-size: 2rem;
    gap: 1rem;
    font-size: 1.2rem;
}
.search-flex input{
    border: none;
    background-color: var(--darkgrey);
    color: var(--grey);
    font-size: 1.2rem;
}
input:focus{
    outline: none;
}